@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url(./grid.jpg);
	background-size: 1600px;
	background-color: #f2f6ff;
	height: 100vh;
	display: flex;
}

#app {
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.emoji {
	@apply text-6xl mb-6;
}

.card {
	@apply bg-white rounded-lg p-10 shadow-md flex flex-col items-center;
}

h1 {
	@apply font-title text-black font-bold text-3xl;
}

h2 {
	@apply text-gray-700 text-2xl mt-2 mb-6;
}

form {
	@apply w-full mt-12;
}
